<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoler.studyim.business.user.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.isoler.studyim.business.user.model.bean.SysUser">
        <id column="c_id" property="id" />
        <result column="c_username" property="username" />
        <result column="c_password" property="password" />
        <result column="c_status" property="status" />
        <result column="c_online_status" property="onlineStatus"/>
        <result column="dt_create_time" property="createTime" />
        <result column="dt_update_time" property="updateTime" />
        <result column="c_login_id" property="loginId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id, c_username, c_password, c_status, c_online_status, dt_create_time, dt_update_time, c_login_id
    </sql>

</mapper>
