<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Boot管理后台</title>
    <script type="text/javascript">
    </script>
</head>
<body>
    <div>
        <div id="navbar">
            <h1>系统异常统一处理</h1>
            <#if status??><h3>状态码：${status}</h3></#if>
            <#if timestamp??><h3>时间：${timestamp?string('dd.MM.yyyy HH:mm:ss')}</h3></#if>
            <#if error??><h3>错误：${error}</h3></#if>
            <#if message??><h3>错误信息：${message}</h3></#if>
            <#if path??> <h3>路径：${path}</h3></#if>
            <h2>Debug</h2>
            <#if trace??>
                <h2>异常堆栈跟踪日志StackTrace</h2>
                <#list trace as line>
                 <div>${line}</div>
                </#list>
            </#if>
        </div>
    </div>
</body>
</html>