<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/element/element.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header class="fd-head" height="40px">
            <div class="fd-head-title">
                注册
            </div>
        </el-header>
        <el-main>
            <div class="fd-content-bg">
            </div>
            <div class="fd-content">
                <div class="fd-content-head">
                </div>
                <div style="text-align: left">
                    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px"
                             class="demo-ruleForm">
                        <el-form-item label="用户名" prop="username">
                            <el-input v-model="ruleForm.username"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="password">
                            <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="确认密码" prop="password2">
                            <el-input type="password" v-model="ruleForm.password2" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <div class="fd-login-btn" @click="register('ruleForm')">注册</div>
                        </el-form-item>
                        <el-form-item>
                            <el-link style="line-height: 20px" type="primary" href="login">已有账户？登录</el-link>
                        </el-form-item>
                    </el-form>
                </div>
            </div>

        </el-main>
        <el-footer class="fd-footer" height="auto">
            <p class="copy-right">
                Copyright &copy; 2020-2022@ISOLER
            </p>
        </el-footer>
    </el-container>
</div>

</body>
<!-- import Vue before Element -->
<script src="js/vue/vue.min.js"></script>
<!-- import JavaScript -->
<script src="js/element/element.js"></script>
<script src="js/axios/axios.min.js"></script>
<script src="js/register.js"></script>
</html>