html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}


/* 定义滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    border-radius: 10px;
    background-color: rgba(50, 50, 50, .1);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    background-color: rgba(50, 50, 50, .3);
}

.el-badge__content.is-fixed {
    top: 2px !important;
    right: 15px !important;
}

#app {
    width: 100%;
    height: 100%;
}

#app > .el-container {
    height: 100vh;
}

.fd-head {
    /*background-color: #151515;*/
    background-color: #475050;
    color: #FFF;
    text-align: center;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}

.fd-head .fd-head-title {
    width: 200px;
}

.fd-head .fd-head-tail {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
}

.fd-head .fd-head-tail .fd-head-tail-name {
    padding-top: 18px;
    padding-left: 5px;
    text-align: center;
    line-height: 22px;
    font-size: 22px;
    display: inline-block;
}

.fd-head .fd-head-tail .el-dropdown {
    line-height: 20px;
}

.fd-head .fd-head-tail .el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
}

.fd-head .fd-head-tail .el-icon-arrow-down {
    font-size: 16px;
}

.fd-head .fd-head-tail .demonstration {
    display: block;
    color: #8492a6;
    font-size: 14px;
    margin-bottom: 0px;
}

.fd-left-nav {
    background-color: #909399;
    width: auto;
}

.fd-left-nav .fd-nav-container {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 20px 20px 0px;
}

.fd-left-nav .fd-nav-container .fd-nav-container-item {
    padding: 10px;
}

.fd-left-nav .fd-nav-container .fd-nav-container-item .el-button--info:focus, .fd-left-nav .fd-nav-container .fd-nav-container-item .el-button--info:hover {
    color: #FFF;
    background-color: #909399;
    border-color: #909399;
}

.fd-nav-container .fd-nav-container-item button.active {
    background: #07c160 !important;
    border-color: #07c160 !important;
    color: #FFF !important;
}

.fd-left-ul {
    background-color: #dddddd;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-right: solid 1px rgba(0, 0, 0, 0.1);
}

.fd-left-ul .fd-left-ul-tool {
    background-color: #f7f7f7;
    height: 59px;
    border-bottom: solid 1px #e7e7e7;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
}

.fd-left-ul .fd-left-ul-tool .fd-left-ul-tool-search {
    width: 150px;
    padding-left: 5px
}

.fd-left-ul .fd-left-ul-tool .fd-left-ul-tool-add {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;
    cursor: pointer;
}

.fd-left-ul .fd-left-main {
    overflow: auto;
    height: calc(100vh - 200px);
    margin-bottom: 20px;
}


.fd-left-ul .fd-left-ul-item {
    padding: 10px 10px 10px 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.fd-left-ul .fd-left-ul-item:hover {
    background-color: #cac8c7;
}

.fd-left-ul .fd-left-ul-item:active {
    background-color: #cac8c7;
}

.fd-left-ul .fd-left-ul-item .el-avatar {
    background-color: transparent !important;
}

.fd-left-ul .fd-left-ul-item .fd-left-ul-item-name {
    padding-left: 5px;
    padding-top: 3px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}


.fd-left-ul ul {
    padding-inline-start: 0px !important;
}

.fd-chat-container {
    height: 100%;
    background-color: #f5f5f5;
}

/**
 * 聊天区域头部
 */
.fd-chat-container .fd-chat-header {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px #e7e7e7;
    line-height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.fd-chat-container .fd-chat-header .fd-chat-title {
    font-weight: bold;
    font-size: 20px;
}

.fd-chat-container .fd-chat-header .fd-chat-more {
    padding-top: 20px;
    cursor: pointer;
}

/**
 * 聊天区域中间区域
 */
.fd-chat-container .fd-chat-main {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}


/**
 * 聊天区域中间区域-聊天内容区域 开始
 */
.fd-chat-content-item {

}

.fd-chat-content-item:not(:first-child) {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fd-chat-notice {
    text-align: center;
    color: #FFF;
}

.fd-chat-notice .chat-notice-text {
    margin: 0 auto;
    padding: 2px 15px;
    width: fit-content;
    font-size: 12px;
    background-color: #d3d1d1;
    border-radius: 2px;
}

.fd-chat-message {
}

.fd-chat-message .fd-chat-message-left {
    padding-left: 65px;
    padding-right: 65px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;

}

.fd-chat-message .fd-chat-message-avatar {
    position: absolute;
    margin-top: 0px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

.fd-chat-message .fd-chat-message-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.fd-chat-message-content .fd-chat-message-title {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.fd-chat-message-title .fd-chat-message-title-date {
    color: #aea9a9;;
    width: fit-content;
    font-size: 13px;
    font-weight: lighter;
    padding: 2px 15px;
}

.fd-chat-message-content .fd-chat-message-content-text {
    width: fit-content;
    padding: 5px 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/**
 * 文件
 */
.fd-chat-message-content .fd-chat-message-content-file {
    padding: 5px 5px;
    font-size: 12px;
    color: gray;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.fd-chat-message-content .fd-chat-message-content-file .fd-chat-message-content-file-item {
    padding: 0px 5px;
}

.fd-chat-message-content .fd-chat-message-content-file .fd-chat-message-content-file-item:not(:first-child) {
    cursor: pointer;
}

/**
 * 聊天区域底部区域
 */
.fd-chat-container .fd-chat-footer {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.fd-chat-container .fd-chat-footer .fd-chat-footer-send {

}

.fd-chat-container .fd-chat-footer .fd-chat-footer-send .fd-send-file {
    width: fit-content;
    max-width: 250px;
    font-size: 12px;
    color: #606266;
    padding: 0px 0px 5px 0px;
    margin: 0;
    list-style: none;
    cursor: pointer;
}

.fd-chat-container .fd-chat-footer .fd-chat-footer-send .fd-send-file .el-upload-list__item:first-child {
    font-size: 12px !important;
    margin-top: 0px !important;
    cursor: pointer !important;
}

.fd-chat-container .fd-chat-footer .fd-chat-footer-send .fd-chat-footer-send-tool {
    padding-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.fd-chat-container .fd-chat-footer .fd-chat-footer-send .fd-chat-footer-send-tool .send-tool-item {
    height: 20px;
}

.fd-chat-container .fd-chat-footer .fd-chat-footer-send .fd-chat-footer-send-tool .fd-chat-footer-send-tool-left {
    width: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.fd-chat-container .fd-chat-footer .fd-chat-footer-send .fd-chat-footer-send-tool .fd-chat-footer-send-tool-right {
    width: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.fd-chat-container .fd-chat-footer .fd-chat-footer-send .fd-chat-footer-send-tool .fd-tool-item {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.fd-chat-container .fd-chat-footer .fd-chat-footer-send .fd-chat-footer-send-tool .fd-tool-item:not(:first-child) {
    padding-left: 10px;
    padding-right: 10px;
}

/**
 * 整体布局的底部区域-- 版本信息
 */
.fd-footer {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    font-size: 12px;
    color: #999;
    text-align: center;
    background-color: #f5f5f5;
    line-height: 30px;
}

.fd-footer .copy-right {
    margin: 0px;
}

/**
 * showMore  start
 */
.fd-drawer-container {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.fd-drawer-container .fd-user {
    height: 300px;
    background-color: #FFF;
}

.fd-user .fd-user-list {
    padding-left: 20px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.fd-drawer-container .fd-user .fd-user-list .fd-user-item {
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    cursor: pointer;
    width: fit-content;
}

.fd-drawer-container .fd-user .fd-user-list .fd-user-item .el-avatar {
    background-color: transparent !important;
}

.fd-user .fd-user-search {
    padding: 20px 20px;
}


.fd-drawer-container .fd-msg-box {
    padding: 20px;
}

.fd-drawer-container .fd-msg-box .fd-msg-box-title {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.fd-drawer-container .fd-msg-box .fd-msg-box-dsc {
    padding-top: 10px;
    font-size: 14px;
    color: #a2a0a0;
    line-height: 20px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*
 * 历史消息区域
*/
.fd-historyMessage-dialog .el-dialog__body {
    padding: 0px !important;
}

.fd-history-chat-container {
    position: relative;
    height: 80vh;
}

/*
 * 历史消息区域-头部搜索
*/
.fd-history-chat-container .fd-history-chat-header {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px 10px 20px;
}

/**
 * 历史消息区域-中间
 */
.fd-history-chat-container .fd-history-chat-main {
    height: 100vh;
    padding: 10px 20px 10px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/**
 * 历史消息区域-底部
 */
.fd-history-chat-container .fd-history-chat-footer {
    padding: 10px 20px !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}
